@model IEnumerable<Project.Models.GioHang>
@{
    Layout = "~/Views/Shared/_LayoutGH.cshtml";

}
@using Project.Models
@{
    KhachHang kh = (KhachHang)Session["TaiKhoan"];

}
<body style="background-color: #3e3e3f">

    @if (ViewBag.CountCart == 0 || ViewBag.ShoppingCart == null)
    {
        <div class="ShoppingCart-Empty">
            <h3>Không có sản phẩm nào trong giỏ hàng, vui lòng quay lại </h3>
            <i class="fas fa-shopping-cart" style="font-size:50px"></i><br />
            <div class="btn-back">
                <a href="@Url.Action("Store", "Home")" class="back-to-home-button" style="color:white;">Quay về trang chủ</a>
            </div>
        </div>

    }
    else
    {
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b style="color: #414141;">Giỏ hàng</b></h4></div>
                            <div class="col align-self-center text-right text-muted">@ViewBag.CountCart sản phẩm</div>
                        </div>
                    </div>
                    @{
                        if (ViewBag.ShoppingCart != null)
                        {
                            foreach (var item in ViewBag.ShoppingCart)
                            {
                                <div class="row border-top border-bottom">
                                    <div class="row main align-items-center">
                                        <a href="/Home/Product_Details/@item.masp" class="col-2"><img class="img-fluid" src="/@item.hinh"></a>
                                        <div class="col">
                                            <div class="row text-muted">@item.ten</div>
                                            <div class="row"></div>
                                        </div>
                                        <div class="col">
                                            <div class="quantity">
                                                <a href="#" class="minus-btn" data-id="@item.masp" onclick="if (@item.soluong > 1) updateStatus(@item.masp, @item.soluong - 1)">
                                                    <i class="fas fa-minus"></i>
                                                </a>
                                                <div class="qty">@item.soluong</div>
                                                <a href="#" class="plus-btn" data-id="@item.masp" onclick="updateStatus(@item.masp, @item.soluong + 1)">
                                                    <i class="fas fa-plus"></i>

                                                </a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="price">
                                                @String.Format("{0:0,0}", item.giaban)&#8363
                                            </div>
                                        </div>
                                        <div class="col">
                                            @if (item.masp != null)
                                            {<a class="close" href="@Url.Action("XoaGioHang", "GioHang", new { masp = item.masp })">&#10005;</a>}
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="back-to-shop"><a class="back" href="/Home/Store">&leftarrow;Mua thêm sản phẩm khác</a></div>
                </div>

                <div class="col-md-4 summary">
                    <div><h5><b>Thông tin giỏ hàng</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col"><strong> Sản phẩm: @ViewBag.CountCart</strong></div>
                        <div class="col text-right"><strong> @String.Format("{0:0,0}", ViewBag.TotalPrice)&#8363</strong> </div>
                    </div>
                    <form>
                        <p>Phương thức vận chuyển</p>
                        <select><option class="text-muted">Standard-Express -đ30.000</option></select>
                        <p>Mã giảm giá</p>
                        <input class="input-code" id="code" placeholder="Chọn hoặc nhập mã">
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col"><strong>Tổng tiền</strong> </div>
                        <div class="col text-right"><strong style="color:red;"> @String.Format("{0:0,0}", ViewBag.TotalPrice)&#8363</strong></div>
                    </div>
                    <a href="/GioHang/DatHang" class=" btn btn-checkout">Tiếp tục</a>
                </div>
            </div>
        </div>
    }
</body>
<script>
    window.onload = function () {
        var cartDiv = document.querySelector('.cart');
        if (cartDiv.offsetHeight > 550) {
            cartDiv.style.height = '500px';
            cartDiv.style.overflowY = 'scroll';
        } else {
            cartDiv.style.overflowY = 'visible';
        }
    };
</script>

<script>
    function updateStatus(id, quantity) {
        $.ajax({
            type: "POST",
            url: "/GioHang/CapNhatGioHang",
            data: { id: id, quantity: quantity },
            success: function () {
                // Reload trang
                location.reload();
            },
            error: function () {
                // Reload trang
                location.reload();
            }
        });
    }
</script>
<script>
    // Get the shopping cart container element
    var cartContainer = document.querySelector('.cart > div');

    // Get the summary section element
    var summarySection = document.querySelector('.summary');

    // Calculate the maximum height of the shopping cart container
    var maxHeight = summarySection.clientHeight;

    // Check if the cart container height is greater than the maximum height
    if (cartContainer.clientHeight > maxHeight) {
        // If it is, set the height of the container and add scrollbars
        cartContainer.style.height = maxHeight + 'px';
        cartContainer.style.overflowY = 'scroll';
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<style>
    .ShoppingCart-Empty {
        padding: 100px;
        text-align: center;
        padding:100px;
    }
        .ShoppingCart-Empty h3 {
            color: white;
        }
    .btn-back {
        color: white;
        margin: auto;
        width: 200px;
        height: 30px;
        background-color: #414141;
        border-radius: 10px;
        box-shadow: 0 10px 13px rgba(0,0,0,0.25);
    }
    .ShoppingCart-Empty i{
        margin:15px;
    }
    .qty {
        background-color: #e2e2ea;
        display: inline-block;
        width: 22px;
        text-align: center;
        border-radius:3px;
    }
    .minus-btn,.plus-btn,.back{
        color:black;
    }
        .minus-btn, .plus-btn{
            font-size:10px;
        }
        .minus-btn:hover, .plus-btn:hover, .back:hover {
            color: black;
            text-decoration: none;
        }

    .title {
        margin-bottom: 5vh;
    }
    .card {
        margin:5% auto ;
        max-width: 950px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent;
    }

    .row{
        margin-left:0px;
        margin-right:0px;
    }

@*@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}*@
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@*@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}*@
.summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@*@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}*@
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
    .col-2, .col {
        padding: 0 1vh;
    }

.close{
    padding: 0.5px;
    margin:6px;
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
.price {
        margin-left: 20px;
}
.quantity{
    padding-left:20px;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
    .input-code {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
     }
 #code {
   background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
     background-repeat: no-repeat;
      background-position-x: 95%;
     background-position-y: center;
 }
input:focus::-webkit-input-placeholder
 {
      color:transparent;
}
        .btn-checkout {
            background-color: #000;
            border-color: #000;
            color: white;
            width: 100%;
            font-size: 0.7rem;
            margin-top: 4vh;
            padding: 1vh;
            border-radius: 5px;
        }
            .btn-checkout:focus {
                box-shadow: none;
                outline: none;
                box-shadow: none;
                color: white;
                -webkit-box-shadow: none;
                -webkit-user-select: none;
                transition: none;
            }

    a {
        color: black;
        font-size: 15px;
        font-weight: 700;
    }

    .btn-checkout:hover {
        background-color: #007bff;
        font-size:12px;
        font-weight:700;
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1f1f1f;
        padding: 20px;
        position: fixed;
        z-index: 999;
        width: 100%;
    }

    .nav-bar li {
        margin: 0 10px;
    }

    .nav-bar a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }

        .nav-bar a:hover {
            color: #fff;
            background-color: #333;
        }

</style>
