@model Project.Models.Item

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using Project.Models
@{
    KhachHang kh = (KhachHang)Session["TaiKhoan"];

}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<div class="pd-wrap">

    <div class="container">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div id="error-message" class="error-message">@ViewBag.ErrorMessage</div>


        }
        <div class="heading-section">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="slider" class="owl-carousel product-slider">

                    @foreach (var item in ViewBag.HinhAnh)
                    {
                        <div class="item">
                            <img src="/@item.duongdan" />
                        </div>
                    }
                </div>
                <div id="thumb" class="owl-carousel product-thumb">
                    @foreach (var item in ViewBag.HinhAnh)
                    {
                        <div class="item">
                            <img src="/@item.duongdan" class="item-img" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-dtl">
                    <div class="product-info">
                        <div class="product-name title-name">@Model.ten</div>
                        <div class="reviews-counter">
                            @*<div class="rate">
            <input type="radio" id="star5" name="rate" value="5" checked />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" checked />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" checked />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>*@
                            @for (int i = 1; i <= 5; i++)
                            {
                                <i class="fas fa-star rating-custom @((i <= @ViewBag.recentReview) ? "custom-star" : "")" style="font-size:13px;"></i>
                            }
                            <span> @ViewBag.countReview Reviews </span>
                        </div>
                        <div class="product-price-discount title-name"><span>@String.Format("{0:0,0}", Model.giamgia)VNĐ</span><span class="line-through title-name">@String.Format("{0:0,0}", Model.giaban)VNĐ</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @if (Model.ten.Contains("iPhone") || Model.ten.Contains("Mac") || Model.ten.Contains("iPad")) // Kiểm tra nếu tên sản phẩm chứa chuỗi "iPhone"
                            {
                                <div class="capacity">
                                    <span>Dung lượng</span>
                                    <ul>
                                        <li>
                                            <a href="#">128GB</a>
                                        </li>
                                        <li>
                                            <a href="#">256GB</a>
                                        </li>
                                        <li>
                                            <a href="#">512GB</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            @if (Model.ten.Contains("iPhone") || Model.ten.Contains("Mac") || Model.ten.Contains("iPad")) // Kiểm tra nếu tên sản phẩm chứa chuỗi "iPhone"
                            {
                                <div class="color-sp">
                                    <span>Màu</span>
                                    <ul>
                                        <li>
                                            <a class="ab" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="bb" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="cb" href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            @if (Model.ten.Contains("Mac"))
                            {
                                <div class="capacity">
                                    <span>Ram</span>
                                    <ul>
                                        <li>
                                            <a href="#">8GB</a>
                                        </li>
                                        <li>
                                            <a href="#">16GB</a>
                                        </li>
                                        <li>
                                            <a href="#">32GB</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            @if (Model.ten.Contains("Watch"))
                            {
                                <div class="capacity">
                                    <span>Phiên Bản</span>
                                    <ul>
                                        <li>
                                            <a href="#">38mn</a>
                                        </li>
                                        <li>
                                            <a href="#">40mn</a>
                                        </li>
                                        <li>
                                            <a href="#">44mn</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            @if (Model.ten.Contains("Airpod"))
                            {
                                <div class="capacity">
                                    <span>Phiên Bản</span>
                                    <ul>
                                        <li>
                                            <a href="#">MagSafe</a>
                                        </li>
                                        <li>
                                            <a href="#">No-MagSafe</a>
                                        </li>

                                    </ul>
                                </div>
                            }

                            <div class="product-count title-name">
                                <label for="size">Quantity</label>
                                <form action="#" class="display-flex">
                                    <div class="qtyminus">-</div>
                                    <input type="text" name="quantity" id="quantity" value="1" class="qty">
                                    <div class="qtyplus">+</div>
                                </form>
                                <a href="/GioHang/ThemGioHang/@Model.ma" class="round-black-btn" id="addToCartBtn">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="product-info-tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews (@ViewBag.countReview)</a>
        </li>
    </ul>
    <div class="tab-pane fade active show" id="review" role="tabpanel" aria-labelledby="review-tab">
        <div class="bg-review" style="background-color:white">

            <div class="review-heading">Đánh giá & nhận xét @Model.ten</div>

            <ul class="commnet-list">
                @foreach (var item in ViewBag.Comments)
                {
                    <li>
                        <div class="cmt-top">
                            @if (item.khachhang.Id == kh?.makh)
                            {
                                <p class="cmt-top-name">
                                    Bạn
                                </p>
                            }
                            else
                            {
                                <p class="cmt-top-name">
                                    @item.khachhang.Ho @item.khachhang.Ten

                                </p>
                            }
                            <p class="date-rating">@item.NgayTao</p>
                        </div>
                        <div class="cmt-content">
                            <strong class="cmt-txt">
                                Đánh giá:
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <i class="fas fa-star rating-custom @((i <= item.XepHang) ? "custom-star" : "")"></i>
                                }
                            </strong>
                            <p class="cmt-txt"><strong>Nhận xét:</strong> @item.NoiDung</p>

                        </div>



                    </li>
                }
            </ul>
            <form class="review-form " method="post" action="/DanhGia/Create" autocomplete="off">
                <div class="form-group">
                    <label>Your rating</label>
                    <div class="reviews-counter">
                        <div class="rate">
                            <input type="radio" name="xephang" value="1" required> <i class="fas fa-star rating-star"></i>
                            <input type="radio" name="xephang" value="2" required> <i class="fas fa-star rating-star"></i>
                            <input type="radio" name="xephang" value="3" required><i class="fas fa-star rating-star"></i>
                            <input type="radio" name="xephang" value="4" required> <i class="fas fa-star rating-star"></i>
                            <input type="radio" name="xephang" value="5" required> <i class="fas fa-star rating-star"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Your message</label>
                    <input type="hidden" name="MaSP" value="@Model.ma" hidden />
                    <textarea name="cMessage" id="cMessage" class="full-width form-control" placeholder="Bình luận*" required></textarea>
                </div>
                <input name="submit" id="submit" class=" btn-wide btn--large" value="Thêm bình luận" type="submit">
            </form>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity=" sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    setTimeout(function () {
        var errorMessage = document.getElementById('error-message');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }, 2000);
</script>
<script>
    var stars = document.querySelectorAll('.rating-star');
    var ratingInputs = document.querySelectorAll('input[name="xephang"]');

    stars.forEach(function (star, index) {
        star.addEventListener('click', function () {
            resetStars(); 

            for (var i = 0; i <= index; i++) {
                stars[i].classList.add('selected'); 
                ratingInputs[i].checked = true; 
            }
        });
    });

    function resetStars() {
        stars.forEach(function (star) {
            star.classList.remove('selected'); 
        });
    }
</script>
<script>
    document.getElementById("addToCartBtn").addEventListener("click", function (e) {
        e.preventDefault(); 

        var quantity = parseInt(document.getElementById("quantity").value); // Lấy giá trị số lượng hiện tại
        var addToCartUrl = this.href + "?quantity=" + quantity; // Thêm thông tin số lượng vào URL

        window.location.href = addToCartUrl;
    });
</script>


<style>
    .date-rating {
        float: right;
        font-size: 13px;
        color: #545e72;
    }

    .rating-star.selected {
        color: #f59e0b;
        font-size: 10px;
    }

    .rating-star, .rating-custom {
        color: grey;
        font-size: 10px;
    }

    .custom-star {
        color: #f59e0b;
        font-size: 10px;
    }

    .cmt-content {
        /*padding: 10px 10px 2px 10px;*/
        height: 80px;
        font-size: 13px;
        background-color: #eceef1;
        border-radius: 16px;
    }

    .cmt-txt {
        position: relative;
        top: 20%;
        left: 2%;
    }

    .btn-wide {
        height: 30px;
        width: 130px;
        border-radius: 7px;
        color: white;
        font-size: 14px;
        font-weight: 700;
        background-color: #0071e3;
    }

    .cmt-command {
        bottom: 15px;
        position: relative
    }

    .cmtd {
        color: #8f9bb3;
        font-size: 12px;
    }

    li {
        list-style-type: none;
    }

    .bg-review {
        width: 100%;
        padding: 5px;
    }

    .cmt-top-name {
        text-transform: capitalize;
        color: #222b45;
        font-size: 15px;
        display: inline;
        font-weight: bold;
        line-height: 16px;
        margin-right: 10px;
    }

    .commnet-list {
        color: #222b45;
        margin-top: 20px;
        max-width: 680px;
        text-align: left;
    }

    .pd-wrap {
        padding: 5%;
        background-color: #3e3e3f;
        font-family: 'Poppins', sans-serif;
    }

    .error-message {
        background-color: #f8d7da;
        color: #721c24;
        position: fixed;
        z-index: 9999;
        padding: 10px;
        width: 300px;
        border-radius:6px;
        right:0;
        top:8%;
        margin-right:5%;

    }

    .heading-section {
        text-align: center;
        margin-bottom: 20px;
    }

    a:not([href]):not([tabindex]) {
        color: white;
    }

        a:not([href]):not([tabindex]):hover {
            pointer-events: none;
            cursor: default;
        }

    .sub-heading {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        display: block;
        font-weight: 600;
        color: #2e9ca1;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .heading-section h2 {
        font-size: 32px;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .user-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: relative;
        min-width: 80px;
        background-size: 100%;
    }

    .carousel-testimonial .item {
        padding: 30px 10px;
    }

    .quote {
        position: absolute;
        top: -23px;
        color: #2e9da1;
        font-size: 27px;
    }

    .name {
        margin-bottom: 0;
        line-height: 14px;
        font-size: 17px;
        font-weight: 500;
    }

    .position {
        color: #adadad;
        font-size: 14px;
    }

    .owl-nav button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        outline: none;
        height: 25px;
    }

        .owl-nav button svg {
            width: 25px;
            height: 25px;
        }

        .owl-nav button.owl-prev {
            left: 25px;
        }

        .owl-nav button.owl-next {
            right: 25px;
        }

        .owl-nav button span {
            font-size: 45px;
        }

    .product-thumb .item img {
        height: 100px;
    }

    .product-name {
        font-size: 25px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 4px;
    }

    .product-price-discount {
        font-size: 22px;
        font-weight: 400;
        padding: 10px 0;
        clear: both;
    }

        .product-price-discount span.line-through {
            text-decoration: line-through;
            margin-left: 10px;
            font-size: 14px;
            vertical-align: middle;
        }

    .display-flex {
        display: flex;
    }

    .align-center {
        align-items: center;
    }

    .product-info {
        width: 100%;
    }

    .reviews-counter {
        font-size: 13px;
        color: white;
    }

        .reviews-counter span {
            vertical-align: -2px;
        }

    .rate {
        float: left;
        padding: 0 10px 0 0;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 15px;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 21px;
            color: #ccc;
            margin-bottom: 0;
            line-height: 21px;
        }

            .rate:not(:checked) > label:before {
                content: '\2605';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }

    .product-dtl p {
        font-size: 14px;
        line-height: 24px;
        color: #d8cccc;
    }

    .product-dtl .form-control {
        font-size: 15px;
    }

    .product-dtl label {
        line-height: 16px;
        font-size: 15px;
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
    }

    .product-count {
        margin-top: 15px;
    }

        .product-count .qtyminus,
        .product-count .qtyplus {
            width: 34px;
            height: 34px;
            background: #212529;
            text-align: center;
            font-size: 19px;
            line-height: 36px;
            color: #fff;
            cursor: pointer;
        }

        .product-count .qtyminus {
            border-radius: 3px 0 0 3px;
        }

        .product-count .qtyplus {
            border-radius: 0 3px 3px 0;
        }

        .product-count .qty {
            width: 60px;
            text-align: center;
        }

    .round-black-btn {
        border-radius: 4px;
        background: #0071e3;
        color: #fff;
        padding: 7px 45px;
        display: inline-block;
        margin-top: 20px;
        border: solid 2px #212529;
        transition: all 0.5s ease-in-out 0s;
    }

        .round-black-btn:hover,
        .round-black-btn:focus {
            background: transparent;
            color: #212529;
            text-decoration: none;
        }

    .product-info-tabs {
        margin-top: 25px;
        padding: 0 40px 0 40px;
    }

        .product-info-tabs .nav-tabs {
            border-bottom: 2px solid #d8d8d8;
        }

            .product-info-tabs .nav-tabs .nav-item {
                margin-bottom: 0;
            }

            .product-info-tabs .nav-tabs .nav-link {
                border: none;
                border-bottom: 2px solid transparent;
                color: #323232;
            }

            .product-info-tabs .nav-tabs .nav-item .nav-link:hover {
                border: none;
            }

            .product-info-tabs .nav-tabs .nav-item.show .nav-link,
            .product-info-tabs .nav-tabs .nav-link.active,
            .product-info-tabs .nav-tabs .nav-link.active:hover {
                border: none;
                border-bottom: 2px solid #d8d8d8;
                font-weight: bold;
            }

        .product-info-tabs .tab-content .tab-pane {
            padding: 30px 20px;
            font-size: 15px;
            line-height: 24px;
            color: #d8cccc;
        }

    .review-form .form-group {
        clear: both;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .review-form .rate {
        float: none;
        display: inline-block;
    }

    .review-heading {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 6px;
        text-transform: uppercase;
        color: #000;
    }

    .review-form .form-control {
        font-size: 14px;
    }

    .review-form input.form-control {
        height: 40px;
    }

    .review-form textarea.form-control {
        resize: none;
    }

    .review-form .round-black-btn {
        text-transform: uppercase;
        cursor: pointer;
    }

    .title-name {
        color: white;
        font-weight: bold;
    }

    .owl-item {
        padding: 5px;
    }

    .item-img {
        border-radius: 10px;
    }

    .capacity {
        display: block;
        overflow: hidden;
        margin: 0 0 20px;
    }

        .capacity span {
            display: block;
            overflow: hidden;
            color: #fff;
            font-size: 15px;
            line-height: 20px;
            margin: 0 0 10px;
        }

        .capacity ul {
            display: block;
            overflow: hidden;
            list-style: none;
            padding-left: 5px;
            margin-left: -5px;
        }

            .capacity ul li {
                float: left;
                margin-right: 15px;
            }

                .capacity ul li a {
                    display: block;
                    overflow: hidden;
                    color: #dbdbdb;
                    background: #2f3033;
                    border-radius: 8px;
                    padding: 10px 12px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 21px;
                }

    .color-sp {
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
    }

        .color-sp span {
            display: block;
            overflow: hidden;
            font-size: 15px;
            line-height: 20px;
            color: #fff;
            padding: 0 0 10px;
        }

        .color-sp ul {
            display: block;
            overflow: hidden;
            padding: 2px;
        }

            .color-sp ul li {
                display: inline-block;
                vertical-align: middle;
                margin: 0 18px 0 0;
                border-radius: 100%;
                border: 2px solid transparent;
            }

    .ab {
        width: 40px;
        height: 40px;
        display: block;
        overflow: hidden;
        border-radius: 100%;
        box-shadow: inset 0 3px 4px rgba(0,0,0,.25);
        background: #123e61;
        position: relative;
    }

    .bb {
        width: 40px;
        height: 40px;
        display: block;
        overflow: hidden;
        border-radius: 100%;
        box-shadow: inset 0 3px 4px rgba(0,0,0,.25);
        background: #654567;
        position: relative;
    }

    .cb {
        width: 40px;
        height: 40px;
        display: block;
        overflow: hidden;
        border-radius: 100%;
        box-shadow: inset 0 3px 4px rgba(0,0,0,.25);
        background: #123e61;
        position: relative;
    }
</style>
<script>
    $(document).ready(function () {
        var slider = $("#slider");
        var thumb = $("#thumb");
        var slidesPerPage = 4; //globaly define number of elements per page
        var syncedSecondary = true;
        slider.owlCarousel({
            items: 1,
            slideSpeed: 2000,
            nav: false,
            autoplay: false,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200
        }).on('changed.owl.carousel', syncPosition);
        thumb
            .on('initialized.owl.carousel', function () {
                thumb.find(".owl-item").eq(0).addClass("current");
            })
            .owlCarousel({
                items: slidesPerPage,
                dots: false,
                nav: true,
                item: 4,
                smartSpeed: 200,
                slideSpeed: 500,
                slideBy: slidesPerPage,
                navText: ['<svg width="18px" height="18px" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="25px" height="25px" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
                responsiveRefreshRate: 100
            }).on('changed.owl.carousel', syncPosition2);
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - (el.item.count / 2) - .5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumb
                .find(".owl-item")
                .removeClass("current")
                .eq(current)
                .addClass("current");
            var onscreen = thumb.find('.owl-item.active').length - 1;
            var start = thumb.find('.owl-item.active').first().index();
            var end = thumb.find('.owl-item.active').last().index();
            if (current > end) {
                thumb.data('owl.carousel').to(current, 100, true);
            }
            if (current < start) {
                thumb.data('owl.carousel').to(current - onscreen, 100, true);
            }
        }
        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                slider.data('owl.carousel').to(number, 100, true);
            }
        }
        thumb.on("click", ".owl-item", function (e) {
            e.preventDefault();
            var number = $(this).index();
            slider.data('owl.carousel').to(number, 300, true);
        });


        $(".qtyminus").on("click", function () {
            var now = $(".qty").val();
            if ($.isNumeric(now)) {
                if (parseInt(now) - 1 > 0) { now--; }
                $(".qty").val(now);
            }
        })
        $(".qtyplus").on("click", function () {
            var now = $(".qty").val();
            if ($.isNumeric(now)) {
                $(".qty").val(parseInt(now) + 1);
            }
        });
    });</script>